* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::v-deep ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::v-deep .el-input.is-active .el-input__inner, .el-input__inner:focus, .el-input__inner:hover {
  border-color: #DDDDDD !important;
}



::v-deep .publicHidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::v-deep .publicHiddenTwoLine {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

::v-deep .publicHiddenThreeLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

::v-deep .publicFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::v-deep .publicFlexStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

::v-deep .publicFlexBetwee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

::v-deep .publicContent {
  padding: 20px;
}

::v-deep .publicBorder {
  padding: 16px 20px 12px 20px;
  border-bottom: 1px solid #F2F2F2;
}

::v-deep .banker {
  height: 300px;
}

::v-deep .window, .flag, .process, .banker, .finance, .seashells, .login {
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 20px;
}

::v-deep .publicTitleMore > a {
  font-size: 14px;
  font-weight: 400;
  color: #505050;
}

::v-deep .publicTitleMore > a > i {
  font-weight: 600;
  color: #505050;
}

::v-deep .publicTitle img {
  vertical-align: sub;
}

::v-deep .publicTitle span {
  margin-left: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

::v-deep .publicTips .el-carousel__button {
  width: 10px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 2px;
  opacity: 0.4;
}

::v-deep .publicTip .el-carousel__button {
  width: 10px;
  height: 4px;
  background: #EFEFEF;
  border-radius: 2px;
  opacity: 1;
}

::v-deep .publicTip .el-carousel__indicator.is-active button {
  background: #999999;
}



::v-deep .tabsMain .el-tabs__nav .el-tabs__active-bar {
  display: none;
}

::v-deep .tabsMain .el-tabs__nav .is-top {
  padding: 0 20px !important;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #676767;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

::v-deep .tabsMain .el-tabs__nav .is-active {
  background: #2272DE;
  color: #ffffff;

}

::v-deep .tabsMain .el-tabs__header {
  margin-bottom: 40px;
}

::v-deep .tabsMain .el-tabs__nav-scroll {
  padding: 0;
}


/*分页*/
::v-deep .page {
  width: 100%;
  text-align: center;
  padding-bottom: 42px;
}

::v-deep .page .el-pagination span:not([class*=suffix]) {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  height: 32px;
  line-height: 32px;
}

::v-deep .page .el-pager li {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #eaeaea !important;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 32px;
  margin-right: 4px;
}

::v-deep .page .el-pager li.active, .page .el-pager li:hover, .page .el-pagination button:hover {
  border: 1px solid #0B86F1 !important;
  color: #FFFFFF;
  background: #0B86F1;
  border-radius: 4px;
}

::v-deep .page .el-pagination__jump {
  margin: 0;
}

::v-deep .page .el-pagination .el-select .el-input .el-input__inner {
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  padding-right: 20px;
  border: 1px solid #eaeaea;
}

::v-deep .page .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

::v-deep .page .el-pagination button {
  margin-right: 4px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  padding: 0;
  text-align: center;
}

::v-deep .emptyData{
  text-align: center;
  color:#797979;
  width: 100%;
  font-size: 14px;
  margin: 50px 0;
}
/*end*/

