/*
.needTo .el-tabs__item {
  padding: 16px 20px 4px 7px;
}
*/

/*.el-tabs__nav-scroll {
  padding: 0 23% 10px 25%;
}*/

/*
.welcome {
  display: none;
}
*/

/*
.el-col-16, .el-col-8 {
  width: 100%;
}
*/
